.form {
  width: 700px;
  background:
  radial-gradient(circle farthest-side at 0% 50%,#d2ccc4 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#6495ED 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#d2ccc4 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#d2ccc4 0)0 0,
  linear-gradient(150deg,#d2ccc4 24%,#6495ED 0,#6495ED 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#6495ED 0,#6495ED 76%,#d2ccc4 0)0 0,
  linear-gradient(30deg,#d2ccc4 24%,#6495ED 0,#6495ED 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#6495ED 0,#6495ED 76%,#d2ccc4 0)0 0,
  linear-gradient(90deg,#6495ED 2%,#d2ccc4 0,#d2ccc4 98%,#6495ED 0%)0 0 #d2ccc4;
  background-size: 40px 60px;
  opacity: 0.9;
}
